RewriteEngine On
RewriteCond %{HTTP_HOST} !^www\.
RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]

# 301 Redirect remove trailing index.html 
RewriteCond %{REQUEST_URI} /index.html 
RewriteRule (.*)index.html$ /$1 [R=301,L]